body  {
    background-color: rosybrown; 

}
nav{
    text-transform: uppercase;
    font-family: sans-serif; 
}
.nav-link{ 
    font-weight: bold;
}
/* when you hover the tabs change to italics and background color turns light blue*/
.nav-link:hover{
    font-style: italic; 
    background-color: lightblue;
}

header{
    height: 600px;
    /*width 100%;*/
    background-image:url("flowers.jpeg"); 
    /*text align*/
    text-align: center; 
}    
header p{ 
    font-style: italic;
    color: white; 
}

h1{ 
    color: white; 
    
}
    
.services i {
    font-size: 30px;
    padding: 25px 25px;
}

.services i {
    
    color: #fff;
    background-color: orchid;

    width: 75px;
    height: 75px;
    
    border-radius: 50%;
    
}

.services span { 
    width: 200px;
    display: inline-block;
}

.teams img { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
} 

.contact text area {
    rows=10 
    cols: 80 
    
}

