body  {
    background-color: rosybrown; 

}
nav{
    text-transform: uppercase;
    font-family: sans-serif; 
}
.nav-link{ 
    font-weight: bold;
}
/* when you hover the tabs change to italics and background color turns light blue*/
.nav-link:hover{
    font-style: italic; 
    background-color: lightblue;
}

header{
    height: 600px;
    /*width 100%;*/
    background-image:url("flowers.jpeg"); 
    /*text align*/
    text-align: center; 
}    
header p{ 
    font-style: italic;
    color: white; 
}

h1{ 
    color: white; 
    
}
    
.services i {
    font-size: 30px;
    padding: 25px 25px;
}

.services i {
    
    color: #fff;
    background-color: orchid;

    width: 75px;
    height: 75px;
    
    border-radius: 50%;
    
}

.services span { 
    width: 200px;
    display: inline-block;
}

*Team*/
.team{
   margin-top: 80px;
   margin-bottom: 80px;
}
.team img{
   width: 250px;
   height: 250px;
   /*Object fit will crop and center image based on width and height*/
   object-fit: cover;
   border-radius: 50%;
   margin-bottom: 50px;
}

*Contact*/
.contact {
   margin-bottom: 80px;
}
.contact .input-group {
   margin-bottom: 25px;
}
.contact i {
   padding: 15px;
}
.contact .btn {
   border-radius: 0;
   width: 100%;
   font-size: 15px;
   background-color: #f08080;
   color: #fff;
}
.contact .btn:hover {
   background-color: #a85959 !important;
   color: #fff !important;
}

